---
import BlogLayout from '../../layouts/BlogLayout.astro'
import createSlug from '../../lib/createSlug.ts'

const posts = await Astro.glob('../../content/blog/**.mdx')
---
<BlogLayout>
  <ul>
    { posts.map((post) => (
    <li>
      <a href=`/blog/${createSlug(post.frontmatter.title)}`>
        <section>
          <h1>{post.frontmatter.title}</h1>
          <time>{
            new Date(post.frontmatter.date)
              .toLocaleString('pt-BR', {
                day: '2-digit',
                month: 'long',
                year: 'numeric'
              })
            }
          </time>

          <h2>{post.frontmatter.description}</h2>
        </section>
      </a>
    </li>
    ))}
  </ul>
</BlogLayout>

<style>
  li {
    border-bottom: 1px dotted;
  }

  section {
    padding: 15px 0 15px 0;
  }

  h1 {
    padding-top: 10px;
    font-size: 28px;
  }

  time {
    display: block;
    padding-top: 5px;
    font-size: 12px;
  }

  h2 {
    font-size: 15px;
    padding-top: 15px;
  }
</style>
