body {
	line-height: 1;
	font-size: 100%;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	background-color: #22272E;
}

h1 {
	font-weight: 700;
}

a {
	text-decoration: none;
}

blockquote, pre {
	margin: 1em 0 1em 0;
}

/* Style the footnotes section. */
.footnotes {
	font-size: 0.9em;
	color: #8b949e;
	padding-top: 1em;
	margin-top: 1em;
	border-top: 0.1em solid #ffffff;
}
  
/* Hide the section label for visual users. */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	word-wrap: normal;
	border: 0;
}

[data-footnote-ref] {
	font-size: 0.8em;
	vertical-align: super;
	text-decoration: none;
}

/* Place `[` and `]` around footnote calls. */
[data-footnote-ref]::before {
	content: '[';
}

[data-footnote-ref]::after {
	content: ']';
}